jupyter
seaborn
numpy
scipy
tensorflow
# sudo apt install graphviz
# pip install -U scikit-learn
graphviz
pydotplus
plotly
xgboost
# conda install -c conda-forge opencv
# conda install -c conda-forge imbalanced-learn